.row{
    position: relative;
    max-width: $grid-width;
    margin: auto;
    padding-bottom: 5rem;

    @include clearfix;

    &:not(:last-child){
        padding-bottom: 0;
    }

    [class^="col-"]{

        float: left;

        &:not(:last-child){
            margin-right: 0;
            padding-bottom: 0;
        }   

        @include respond(tab-port){
            width: 100% !important;
         }

        @include respond(phone){
            float: right!important;
            width: 100% !important;          
        } 
    }

    
}

.col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2 );

}

