.padding{
    padding: 0 9rem 0 9rem;

    @include respond(phone){
        padding: 1rem;
        max-width: 100%;
    }
    @include respond(tab-land){
        padding: 1.5rem;;
     }
}

.capitalize{
    text-transform: capitalize !important;
}



